name: Build and push container image
on:
  push:
    tags:
      - '*'

jobs:
  call-reusable-build:
    uses: ./.github/workflows/reusable-build.yaml
    with:
      image_tags: ${{ github.ref_name }}
      push_image: true
    secrets: inherit
