name: Build container image
on:
  pull_request:

jobs:
  build:
    name: Build container image
    runs-on: ubuntu-24.04

    steps:
      - name: Build Image
        uses: ./.github/actions/build-image
        with:
          image_tags: ${{ github.sha }}
